# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Игнорировать библиотеки
node_modules/
# Игнорировать результат сборки
dist/
build/
# Игнорировать настройки редактора
.vscode/
.idea/
# Игнорировать логи
*.log
.DS_Store